[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-filter = "*"
google-auth = "*"
argon2-cffi = "*"
django-cors-headers = "*"
requests = "*"
redis = "*"
django-redis = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.14"
